.section-main-container{
    display: flex;
    margin: 5rem 8rem 5rem 8rem;
    height: 100%; 
  text-align: center; 

}

.section-box-container{
    display: flex;
    flex-direction: column;
    font-size: 2.0rem;
    align-items: center;
    text-transform: uppercase;
  
}


.section-body-text{
    margin-top: 1rem;
    font-size: 0.65rem;
    line-height: 1.5rem;
}

@media(max-width:711px){
    .section-main-container{
        display: block;
        margin: 5rem 2rem 5rem 2rem;
        text-align: center;
    }
}
