.main-container-avatar{
    width:75%;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 1rem 1rem 1rem 1rem;
  
}

.hiding-parent{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.transparent-container{
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: solid black;
    left: 0;
    right: 0;
    text-align: center;
    color:white;
    text-transform: uppercase;
    z-index: 3;
    opacity: 0.5;

   

}

@media (min-width:350px){
    .transparent-container{
        font-size:4.0rem;
    }
}
    
    @media (min-width:572px){
        .transparent-container{
            font-size: 6.0rem;
        }
    }
    @media (min-width:700px){
        .transparent-container{
            font-size: 7.0rem;
        }
    }

    @media (min-width:800px){
        .transparent-container{
            font-size: 8.0rem;
        }

        .main-container-avatar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0.8rem 0rem 0.8rem;


            
    
           
            
            
        }
    
    }

    @media (min-width:900px){
        .transparent-container{
            font-size: 10.0rem;
            
        }
    }
    @media (min-width:1000px){
        .transparent-container{
            font-size: 11.0rem;
            
        }

        .main-container-avatar{
            padding: 2rem 1rem 2rem 1rem;
         
      
          
          }
    }

