.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
}



.hiding-parent{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.transparent-container{
    position: absolute;
    top:30%;
    left:25%;
    color:white;
    text-transform: uppercase;
    font-size: 5.0vh;
    z-index: 3;
    opacity: 0.7;

   
   

}

.header-text{
    font-size: 4.0rem;
}

.body-text{
  
    margin-top: 1rem;
    font-size: 1.0rem;
    line-height:2.5rem;
}







@media (max-width:1000px){

    .main-container{
      padding: 2rem 2rem 2rem 2rem;
    }
  
   
  
    .header-text{
      font-size: 3.0rem;
    
  }
  
    .body-text{
      font-size: 0.75rem;
  }
  }

  @media (min-width:850px){
.transparent-container{
    font-size: 8vh;
  }
}


@media (max-width:830px){
    
    .flex-row{display: block;}

    .transparent-container{
        font-size: 4.5rem;

    }
  
    .main-container{
        display: block;
        margin: 12rem 1rem 1rem 1rem;
        
        
    }
    
    .banner-box-container{
        align-items: center;
        text-align: center;
        margin:0rem 0rem 17rem 0rem;
     
    }

    .right-box-container{
        margin: 0;
    }
   

    .body-text{
        text-align: center;
    }

    
}


@media (max-width:550px){
    
.transparent-container{
    font-size: 3.0rem;;
}
    .header-text{
        font-size: 2.5rem;
      
    }
   

    
}

@media (max-width:390px){

    .main-container{
        margin-top: 10rem;
    }

   
    

    .header-text{
        font-size: 2.2rem;
      
    }
   

    

    
}




   







